{% extends 'index.html' %}

{% load app %}
{% load static %}

{% block list %}

<div class="container_article">
{% for CShrap in CS %}
<article class=" card ">
<div class="item">
    <img src= "{{ CShrap.thumbnail.url  }}" class="card_image"/>
    <p class="card_title">{{ CShrap.title }}</p>
    <p class="card_content">{{ CShrap.card_text  | markdown_to_html | safe }}</p>
    <div class="card_continue">
        <button class="continue_button"><a href="{% url 'myBlog:detail' CShrap.id %}">記事詳細</a></button>
    </div>
</div>
</article>
 {%endfor%}

</div>

{% endblock %}
